.container {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 1.5rem;
    margin: auto;
    h2 {
        display: block;
        width: 100%;
        text-align: center;
    }
}