<header class="header">
    <h1 class="header__title">Perfumistta</h1>
    <div class="header__icons">

        <button class="header__icon header__icon--hover" [matMenuTriggerFor]="beforeMenu">
            <img src="menu-icon.svg" alt="" class="header__icon">
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before" class="mat-menu custom-menu">
            <a routerLink="/" >Lista de perfumes</a>
            <a routerLink="/login"  *ngIf="!isLogged.isLogged">Login</a>
            <a routerLink="/login"  *ngIf="isLogged.isLogged" (click)="isLogged.logout()">Logout</a>
            <a routerLink="/cadastro" >Cadastrar perfume</a>
        </mat-menu>

        <button 
            class="header__icon header__icon--hover" 
            (click)="abrir()"
            [matBadge]="badgeNumber"
            [matBadgeHidden]="badgeHidden"
            matBadgeColor="warn"
        >

            <img src="cart-icon.svg" alt="" class="">
        </button>
    </div>
</header>
