<form [formGroup]="cadastroPerfumeForm" class="form" (ngSubmit)="onSubmit()">
    <fieldset class="form__fieldset">
        <legend class="form__fieldset-legend">Cadastre um novo perfume</legend>
        <div class="form__inputs">
            <mat-form-field class="example-full-width">
                <mat-label>Nome do Perfume</mat-label>
                <input
                    type="email"
                    matInput
                    placeholder="Ex. pat@example.com"
                    formControlName="perfume"
                >
                <mat-error class="mat-error">O <strong>Nome do Perfume</strong> é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Preço</mat-label>
                <input
                    type="text"
                    matInput
                    placeholder="Digite o preço"
                    formControlName="preco"
                >
                <mat-error class="mat-error" *ngIf="preco.hasError('required')">A <strong>Preço</strong> é obrigatório</mat-error>
                <mat-error class="mat-error" *ngIf="preco.hasError('pattern') && !preco.hasError('required')">Preço <strong>inválido</strong></mat-error>
            </mat-form-field>
            <button 
                mat-flat-button 
                type="submit" 
                class="form__submit-btn"
                [disabled]="cadastroPerfumeForm.invalid"
            >Cadastrar</button>
        </div>
    </fieldset>    
</form>