@use "../../../scss/variables" as var;

.form {
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &__fieldset {
        display: flex;
        padding: 2rem;
        border-radius: 5px;
        font-size: 1.25rem;
    }
    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-width: 290px;
        input {
            font-size: 1.25rem;
        }
        .mat-error {
            font-size: 1rem;
            padding-top: 0.1rem;
            font-family: var.$Cormorant-Regular;
            strong {
                font-family: var.$Cormorant-Bold;
            }
        }
    }
    ::ng-deep .form__submit-btn {
        font-size: 1.25rem;
        padding: 1.5rem;
        background-color: #3616b5ba;
        color: white; 
        transition: filter .3s ease;
        &:hover {
            filter: brightness(200%);
        }
        &:disabled {
            opacity: .3;
        }
    }
}