@use "scss/variables" as var;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var.$Cormorant-Semibold;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
}

.cdk-overlay-pane {
    margin-top: 10px;
}

